@import url("fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  span {
    @apply text-3xl;
  }
}

@layer utilities {
  .spacing {
    @apply py-[2rem] xl:px-[10rem] px-[3rem];
  }
  .dark {
    @apply text-white bg-black;
  }
}

@layer components {
  .underline-border {
    @apply transition-all duration-500;
    padding-top: 5px;
    border-bottom: black solid 2px;
    width: 0%;
    justify-self: center;
    border-radius: 15%;
  }
  .underline-border-hover {
    @apply underline-border w-full;
  }
  .cursor {
    /* cursor only for desktop screens */
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(white, white, #199b9a, #bb55ff, #bb55ff);
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 9999;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 300ms, height 300ms;
  }
}

#root {
  @apply bg-bgColor;
  font-family: "Averia Serif Libre", Georgia, "Times New Roman", Times, serif;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  #root {
    cursor: none;
  }
}
