@import url("fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  span {
    @apply text-2xl;
  }
}

@layer components {
  .underline-border {
    @apply transition-all duration-500;
    padding-top: 5px;
    border-bottom: black solid 2px;
    width: 0%;
    justify-self: center;
    border-radius: 15%
  }
  .underline-border-hover {
    @apply underline-border w-full;
  }
}
#root {
  font-family: 'Averia Serif Libre', Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 10rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
