@import url("fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  span {
    @apply text-3xl;
  }
}

@layer components {
  .underline-border {
    @apply transition-all duration-500;
    padding-top: 5px;
    border-bottom: black solid 2px;
    width: 0%;
    justify-self: center;
    border-radius: 15%
  }
  .underline-border-hover {
    @apply underline-border w-full;
  }
}
#root {
  font-family: 'Averia Serif Libre', Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  margin: 0 auto;
}
